.add-todo {
    display: flex;
    flex-direction: row;
}
.todo-title {
    margin-left:10px ;
    border-radius: 10px;
    min-width: 40%;
  overflow: hidden;
  resize: both;
  min-height: 70px;
  line-height: 20px;
  border: 1px solid black;
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding: 6px;

}

.btn-add {
    width: 25vh;
    border-radius: 12px;
    background-color: green;
    color: white;
    opacity: 1;
  font-family: Georgia, Times, 'Times New Roman', serif;

}

.btn-cnt {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}

.btn-disabled {
  font-family: Georgia, Times, 'Times New Roman', serif;

    width: 25vh;
    border-radius: 12px;
    background-color: green;
    color: white;
    opacity: 0.3;
}