.todo-list {
    columns: 6 200px;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.noTodos {
    justify-content: center;
    margin: auto;
    font-family: cursive;
  }