.btn-edit {
  background-color: blue;
  border-radius: 8px;
  width: 100px;
  color: white;
  justify-content: center;
  margin: auto;
}

.input {
  width: calc(100% - 30px);
  min-height: 80px;
  max-height: 170px;
  border-radius: 12px;
  margin-left: 4px;
  margin-top: 4px;
  resize: vertical;
  padding: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif;

}

.todo-edit {
  display: flex;
  flex-direction: column;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}